<div id="photos">
	<ul class="thumbnails_main">
	<% @stories.each do |story| %>
		<% if story.photos.any? && story.photos.first.image? %>
			<% photo = story.photos.first %>

			<li>
			<h3><%= story.title %></h3>
			<%= link_to(image_tag(photo.image_url(:thumb), :width => 170, :height => 170),
									story_url(story),
									:class => "thumbnail") %>
			<p>
			<%# story.description %>
			</p>
			</li>

		<% end %>
	<% end %>
  </ul>
  <div class="clearfix"></div>
</div>
