<div id="photos">
	<ul class="thumbnails_main">
	<% @stories.each do |story| %>
		<% if story.photos.any? && story.photos.first.image? %>
			<% photo = story.photos.first %>

			<li>
			<%= link_to(image_tag(photo.image_url(:thumb)), story_photo_url(story, photo.permalink || photo.id), :class => "thumbnail") %>
			</li>

		<% end %>
	<% end %>
  </ul>
  <div class="clearfix"></div>
</div>
