<div class="about">
	<%= image_tag(user_avatar(@current_photographer), :class => "pull-right") %>

	<p class="lead">
	<% if @photographer.description %>
		<%= @markdown.render(@photographer.description).html_safe %>
	<% end %>
	</p>
	<div class="clearfix"></div>
</div>
