<% if @front_story %>
	<% photo = @front_story.photos.first %>
	<div id="frontstory">
		<%= link_to(image_tag(photo.image_url(:web)), story_photo_path(@front_story, photo)) %>
	</div>
<% end %>

<%= render :partial => 'stories/thumbnails' %>
