#slider {margin: 0 0 10px!important; overflow: hidden;}
#carousel {overflow:hidden;}
#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .8; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}
