/* 
	Resets defualt browser settings
	reset.css
*/
a:active { outline:none; }
ol,ul { list-style:none; }

#story_header_container {
  margin-top: -18px;
  background-color: white;
  height: 70px;
  font-size: 1.4em;
}
#story_header_container a {
  color: #666;
}
#main_photo {
  margin: auto;
  padding: 1em;
}
.story_header {
  width: 900px;
  margin: auto;
}
.navlinks {
  float: right;
  margin: 25px auto 0px;
  padding: 0 0 0 40px;
  text-align: left;
}
.navlinks ul li {
  display: block;
  float: left;
  padding-right: 30px;
}
.navlinks ul {
  width: 100%;
}
.leftlogo a {
  color: #434343 !important;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -1px;
  font-size: 40px;
}
.leftlogo {
  float: left;
  margin: 15px 0 0 0;
  font-size: 2.0em;
}
#story {
  font-size: 2.0em;
  color: #0f0f0f;
}
#story_footer {
  background-color: white;
  font-size: 2.0em;
  margin: auto;
  width: 810px;
  padding: 1em;
}
#heritage_footer {
  margin: auto;
  width: 820px;
  font-size: 1.1em;
  padding: 1em;
  color: #999;
}
#heritage_footer a {
  color: #999;
}
#social_icons {
  opacity: 0.2;
  filter:alpha(opacity=20);
  text-align: left;
}
#social_icons img:hover {
  opacity: 1.0;
  filter:alpha(opacity=100);
}
#story_footer .links {
  width: 300px;
  text-align: left;
  margin: auto;
  float: left;
}

/*
	Page style
*/

body { 
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	background:#efefef url(/assets/images/background.png) repeat top center;
	padding:20px 0;
	position:relative;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}

#container {
	width:810px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:830px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

#footer {
	text-align:center;
	width:810px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

/*
	Anchors

a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}
*/

#myCarousel p {
  text-align: center;
  margin-top: 1em;
}

/*
 * For the editlong page (admin)
 */
.caption {
  text-align: left;
}

/*
 * For the about page (photographers)
 */
.about {
  padding-top: 20px;
  overflow: hidden;
}
.about-heading {
  font-weight: normal;
  font-size: 34px;
  line-height: 1.0em;
  letter-spacing: -1px;
}
.about img {
  margin-right: 40px;
  background-color: white;
  margin: 1px solid #C3D5E3;
  padding: 10px;
}
